@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse farthest-corner at center top, #fff 0%, #e4f1fc 100%);
  color: #4682b4;
  font-family: "Nunito", sans-serif;
  max-width: 680px; 
  float: none !important;
  /* overflow: hidden; */
	/* margin: 0 auto !important;  */
 
}

.head{
    margin-top: 3vh;
    width: 100%;
}

.date{
    margin-left: 30px;
    /* margin-right: auto; */
    justify-content: center;
    text-align: center;
    height: 3vh;
    width: 30vh;
    /* background: #88353d3f; */
    border: 2px solid #f6f9fc;
    border-radius: 15px;
    box-shadow: 20px 20px 50px #e7f1fa;
}
h4{
    margin-top: 6px;
    /* margin-bottom: auto; */
}

.intro{
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 1.2vh;
}
.rem{
    width: 30vh;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size:large;
    color: #fff;
}

.group{
    margin-left: 19px;
    margin-right: 19px;
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
    border-radius: 10px;
    box-shadow: 20px 20px 50px#8e979c;
    /* width: 100%; */
    background: radial-gradient(ellipse farthest-corner at center top, #502d1d 0%, #f2606f 100%);
    background-color: rgba(0,0,0,0.25);
    /* height: 19vh; */
}

.quote{
    width: 67vh;
    border: 1px solid #fff;
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.quote h2{
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.quote h3{
    margin-right: 9px;
    font-size: 0.8em;
    font-style: italic;
    text-align: end;
}

.first{
    margin-top: 4vh;
    /* border-inline: 4vh; */
    width: 100%;
    display: flex;
    /* overflow: hidden; */
    margin-bottom: 8vh;
}
h2{
    font-size: 1.1em;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #1d2127;
    text-decoration: underline;
}
.weather{
    border-radius: 10px;
    box-shadow: -20px 20px 50px #8e979c;
    flex: 60%;
    margin-left: 19px;
    margin-right: 19px;
    background: url('wet.jpg');
}
ol li{
    /* margin-left: 0px; */
    list-style-type: circle;
    
    font-size: 0.8em;
    color: #1d2127;

}
.todoList{
    border-radius: 10px;
    box-shadow: 20px 20px 50px#8e979c;
    flex: 50%;
    background-color: #ffd1dc;
    margin-right: 19px;
}
/* Main Content */
.content {
    padding: 10px 20px;
  }
  .content form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 10px 0 5px;
    border-bottom: 1px solid #8e979c;
  }
  .content form > * {
    background: transparent;
    border: none;
    height: 35px;
  }
  .content input[type=text] {
    font-weight: 700;
    font-size: 1rem;
    color: #1d2127;
  }
  .content .input-buttons a {
    text-decoration: none;
  }
  .content .input-buttons i {
    margin-top: 5px;
    font-size: 20px;
    color: #1d2127;
  }
  .content ul.todos {
    margin-left: 0;
    padding: 0;
    list-style: none;
    height: 220px;
    overflow: auto;
  }
  .content li {
    user-select: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .content li i {
    color: #1d2127;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
  }
  .content input[type=checkbox] {
    display: none;
  }
  .content input[type=checkbox] + label {
    color: #1d2127;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 5px 5px 30px;
  }
  .content input[type=checkbox] + label:hover {
    color: #353A42;
    background-color: #F4F7FA;
  }
  .content input[type=checkbox] + label span.check {
    left: 4px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    display: block;
    background: white;
    border-radius: 3px;
    border: 1px solid #b8bfcc;
    box-shadow: 0 2px 3px #F0F4F8;
  }
  .content input[type=checkbox]:checked + label {
    color: #AEB7C6;
    text-decoration: line-through;
  }
  .content input[type=checkbox]:checked + label span.check {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
  .content input[type=checkbox] + label span.check::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
  }
  .content input[type=checkbox]:checked + label span.check::after {
    transform: scale(1);
  }
  .content input[type=checkbox] + label span.check::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #8798AA;
    opacity: 0.8;
    transform: scale(0);
  }
  .content input[type=checkbox]:checked + label span.check::before {
    opacity: 0;
    transform: scale(1.3);
    transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
  }
.wiki{
    margin-left: 19px;
    margin-right: 19px;
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
    border-radius: 10px;
    box-shadow: 20px 20px 50px#8e979c;
}
.wiki h3, h1{
    font-size: 0.8em;
    text-align: justify;
    margin-left: 3vh;
    margin-right: 3vh;
    /* margin-bottom: 3vh; */
    color: #1d2127;
}
a{
    /* text-decoration: none; */
    font-size: 0.8em;
    color: #2e7a4e;
}
h1{
    text-decoration: underline;
}
