<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <title>Home</title>
</head>
<body>
    <section class="head">
    <div class="date"><h4>{{ date }}</h4></div>
    </section>
    <section class="open">
    <div class="intro">
        <h1 class="rem">Quote of the day</h1>
    </div>
    <div class="quote">
        <h2>{{ get_quotes }} <br> {{ author }}</h2>
    </div>
    </section>
    <ol>
        weather, {% for i in range(0, len) %}
        <li>{{ x[i] }}</li>
        {% endfor %}
    </ol>
    <div>
        wiki, {{ wiki }}
    </div>
    <ol>football, {% for i in range(0, game) %}
        <li>{{ games[i] }}</li>
            {% endfor %}
    </ol>
    
</body>
</html>